
bighead{
	font-size: 1.3em;
}


#row1{
	background-color: #1D3557; 00171F
} 

#left-title{
	color:#fff;
	font-size: 1.4em;
	margin-top: 1%;
}

.row{
	margin:0 auto;
	font-family: Poppins;
	font-weight: 100;
}

video{
	width:100%;

}
.icon-bar{
	background-color: #fff;
}

#navmenu-toggle{
	border:#fff 1px solid;
}

#myNavbar{
	margin-top:1%;
}
.nav-links{
	color:#fff;
	font-size: 1em;
	border-bottom: 1px solid #fff;

}

.nav-links:active{   /*New*/
	background-color: #aaa;
}
.nav{
	width:60%;
}
.nav-li{
	margin-left:3%;

}
.navbar-nav>li>a:hover{
	background-color:transparent;
	border-bottom:1px solid #00A8E8;
	color:#00A8E8;
	
}
#bgvid{
	z-index: -10;
}


#row2 img{    /*New*/
	z-index: -100;
	position: absolute;
	top:50%;
	left:46%;
}

#row3,#row4,#row7,#row8,#row11,#row12,#row17{  /*New*/
	background-color:#EDF2F4;
}


#row3{
	position: absolute;
	top:80%;
	width: 100%;
}


.title{
	font-family: Poppins;
	font-size: 3.0em;
	margin-top:4%;
	margin-bottom: 5%; 
	text-align: center;
	border-bottom:1px solid #000;
}

#row4>.para{
	font-size: 1.1em;
	text-align: left;
	margin-bottom: 5%;

}

.para > img{
	width:100%;
	height:auto;
}

@media (max-width:767px){
#director{
	margin-top:5%;
	position: relative;
	margin-left:10%;
	max-width:70%;
}
}



#row5,#row6
{

	background-color: #2B2D42;
}

#row5>.title{
	color:#fff;
	border-bottom-color: #fff;
}


.stats{
	color:#fff;
	font-size: 1.6em;
	text-align: left;
	margin-bottom: 5%;
	font-family: Source Sans Pro;
}

@media (max-width:767px){

.stats{
	text-align: center;
}

}

.count{
	font-size: 2em;
}

#row8>.para{
	font-size: 1.2em;
	text-align: left;
	margin-bottom: 5%;

}

#row9,#row10{
	background-color: #011627;
	color:#fff;
}
#row9>.title{
	color:#fff;
	border-bottom-color: #fff;
}


.item > img {

	width: 11%;
	margin: auto;

}


#row10{

	height: 35%;
}

.item{

	margin-bottom: 5%;
}


.company-show .mover{
  
  background-color: #fff;

}

.mover img{

	width:50%;
	height: auto;
}

#row12 > .para{
	font-size: 1.2em;
	
	margin-bottom: 5%;

}

.para-head{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2%;
}

.sub-para-padding{
	padding-left: 13%;
}

.sub-para{
	font-size:1em;
}

.para-left{

	text-align: left;
}

.para-center{
	text-align:center; 
}


@media (min-width: 1207px){
#row12 > .para {

	min-height:50%;
}

.right-border{
	border-right: 1px solid #000; 
}
}

#row13,#row14{
	color: #fff;
	background-color: #224870;
}

#row13 > .title {
	margin-bottom: 0;
	border-color: #fff;
}

#map{

	margin-top: 5%;
	margin-bottom: 5%;

	width: 90%;
}

.underline{
	text-decoration: underline;
}

.details-para{
	font-size: 1.1em;
	text-align: left;
	margin-bottom: 5%;

}

.medium-para{
	font-size: 1.3em;
}
.inline{
	display: inline;
}

.hover-show{
	z-index: -10;
	opacity: 0;
	transition: opacity 1s linear;
}

.hover-details:hover > .hover-show{

	display: block;
	z-index: 20;
	opacity: 1;
	background-color: #19231A;
	color: #fff;

}

.hover-details:hover{
background-color: #19231A;
	color: #fff;
	border-radius: 5px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state ~ .read-more-trigger:before {
  content:'Show more';
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}


.read-more-state:checked ~ .read-more-trigger:before {
  content:'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  margin-top:1em;
  color: #666;
  font-family: Poppins;
  font-weight: normal;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #aaa;
  border-radius: .25em;
}



.small-text{
	font-size: 13px;
	text-decoration: underline;
	color: #aaa;
}
